name: Deploy Website CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/id_rsa
        chmod 600 ~/.ssh/id_rsa
        ssh-keyscan -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

    - name: Test SSH
      run: |
        ssh -i ~/.ssh/id_rsa polindra123@${{ secrets.SERVER_IP }} "whoami"

    - name: Deploy
      run: |
        rsync -avz -e "ssh -i ~/.ssh/id_rsa" ./ polindra123@${{ secrets.SERVER_IP }}:${{ secrets.DEPLOY_PATH }}
