name: Deploy Website CI/CD

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.SSH_PRIVATE_KEY }}" | tr -d '\r' > ~/.ssh/id_ed25519
        chmod 600 ~/.ssh/id_ed25519
        ssh-keyscan -p 8022 -H ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

    - name: Test SSH Connection
      run: |
        ssh -i ~/.ssh/id_ed25519 -p 8022 -o StrictHostKeyChecking=no polindra123@${{ secrets.SERVER_IP }} "whoami"

    - name: Deploy to Server
      run: |
        rsync -avz \
        -e "ssh -i ~/.ssh/id_ed25519 -p 8022 -o StrictHostKeyChecking=no" \
        ./ \
        polindra123@${{ secrets.SERVER_IP }}:${{ secrets.DEPLOY_PATH }}
